@import '/styles/variables.scss';
@import '/styles/font-bases.scss';

.header {
  width: 100%;
  padding: 26px 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 1001;
  &:hover {
    opacity: 0.75;
  }
}
