@import '/styles/variables.scss';
@import '/styles/font-bases.scss';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: lightcyan;
  z-index: 501;

  &.open {
    transform: translateX(0);
  }
}

.menuLink {
  @extend %cond-text-bold;

  font-size: 2.25rem;
  text-transform: capitalize;
  margin: 2rem 0;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    font-style: italic;
  }
}

@media only screen and (min-width: 768px) {
  .menu {
    width: 30%;
  }
}
