@import '/styles/font-bases.scss';

.filterBtn {
  @extend %cond-text-bold;

  font-size: 1.5rem;
  line-height: 25px;
  padding-left: 0;
  background-color: inherit;
  border: none;
  text-align: left;
  margin-bottom: 6px;
  cursor: pointer;
}

.filterOption {
  @extend %text-regular;

  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    font-size: 0.85rem;
  }
}

.item {
  display: flex;
  align-items: center;
}
