@import '/styles/font-bases.scss';

.card {
  cursor: pointer;
}

.imgWrapper {
  width: 100%;
}

.details {
  @extend %cond-text-light;

  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 25px;
  margin-top: 28px;
}

.artist {
  @extend %cond-text-bold;
}

.title {
  font-style: italic;
}

.recordLabel {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .details {
    font-size: 1rem;
  }
}
