@import '/styles/font-bases.scss';

.container {
  // border: 1px solid hotpink;
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100%;
  margin-bottom: 6rem;

  & > * {
    width: 100%;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  @extend %cond-text-bold;

  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.content {
  p {
    line-height: 1.5;
  }
}

.imgWrapper {
  // border: 1px solid green;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    & > * {
      width: 50%;
    }
  }
}
