@import '/styles/font-bases.scss';

.container {
  // border: 1px solid pink;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem auto;

  & > * {
    // width: 50%;
    margin: 2rem;
    // border: 1px solid pink;
    overflow: hidden;
  }
}

.heading {
  @extend %cond-text-bold;

  font-size: 3rem;
}

.link {
  @extend %cond-text-bold;

  font-size: 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  position: relative;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    max-width: calc(100vw - 120px);
    margin: 10rem auto;
  }
  .heading {
    font-size: 5rem;
  }

  .link {
    font-size: 2rem;
  }
}
