.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 600px;
  width: 100%;
  margin-top: 95px;
  gap: 2rem;
}

.icon {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    height: calc(100vh - 172px);
    gap: 5rem;
  }
}
