@import './variables.scss';

// *********************************************************

%text-base {
  font-size: 1rem;
  line-height: 25px;
}

%text-2xl {
  font-size: 10rem;
  line-height: 25px;
}

%cond-text-bold {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 700;
  color: $blue-black;
  font-style: normal;
}

%cond-text-light {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 300;
  color: $blue-black;
  font-style: normal;
}

%text-regular {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 400;
  color: $blue-black;
  font-style: normal;
  line-height: 25px;
}
