@import './variables.scss';

@font-face {
  font-family: 'ArticoExtraCondBold';
  src: url(/public/Fonts/ArticoExtraCondBold.woff2) format('woff2');
  src: url(/public/Fonts/ArticoExtraCondBold.woff) format('woff');
}

@font-face {
  font-family: 'ArticoLight';
  src: url(/public/Fonts/ArticoLight.woff2) format('woff2');
  src: url(/public/Fonts/ArticoLight.woff) format('woff');
}

@font-face {
  font-family: 'ArticoCondensedLight';
  src: url(/public/Fonts/ArticoCondensedLight.woff2) format('woff2');
  src: url(/public/Fonts/ArticoCondensedLight.woff) format('woff');
}

// *********************************************************

%text-base {
  font-size: 1rem;
  line-height: 25px;
}

%cond-text-bold {
  font-family: 'ArticoExtraCondBold', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 600;
  color: $blue-black;
  font-style: normal;
}

%cond-text-light {
  font-family: 'ArticoCondensedLight', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 400;
  color: $blue-black;
  font-style: normal;
}

%text-regular {
  font-family: 'ArticoLight', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-weight: 400;
  color: $blue-black;
  font-style: normal;
}
